/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.font-gothic {
    font-family: 'Carrois Gothic SC', sans-serif;
}
body {
    background: url('../img/space_bacground.png') repeat 0 0 transparent;
    -webkit-backface-visibility: visible !important;
}
#emerge_space {
    width: 100%;
    height: auto;
    margin: 0 auto;
    letter-spacing: normal;
}
nav {
    width: 100%;
    height: 80px;
    background: url('../img/nav_background.png') repeat-x 0 -10px transparent;
    position: relative;
    z-index: 100;
}
nav ul {
    float: left;
    left: 50%;
    margin: 0;
    padding: 30px 0;
    position: relative;
    text-align: center;
    width: auto;
}
nav li {
    float: left;
    margin-right: 1.4em;
    position: relative;
    right: 50%;
    height: 45px;
    background: url('../img/nav_mark.png') no-repeat center 100px transparent;      
    cursor: pointer;
    -webkit-transition: all 0.45s;
       -moz-transition: all 0.45s;
        -ms-transition: all 0.45s;
    transition: all 0.45s;
}
li.opt:hover,
li.active {
    text-shadow: 0 0 10px #6BB2C4, 0 0 5px #87F,
        0 0 16px #FFF;
  background: url('../img/nav_mark.png') no-repeat center 16px transparent;  
}
.txt-a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.1em;
}
.nav-logo {
    margin-right: 0;
}
.nav-logo img {
    position: relative;
    top: -50px;
}
main {
    max-width: 760px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.row {
    color: #FFF;
}
.row-header img {
    position: relative;
    top: 0;
    left: 0;
}
.planet-enter-blue {
    background: url('../img/planetblue.png') no-repeat scroll center center / cover transparent;
    max-width: 764px;
    height: 682px;
    background-size: cover;
}
.row-enter-now {
    text-align: center;
    position: relative;
}
.row-enter-now  .planet {
    height: 40px;
    left: 30px;
    position: absolute;
    top: -165px;
    width: 40px;
}
.row-enter-now .balloons,
.row-enter-now .balloons > div {
    position: absolute;
}
.row-enter-now .balloons .first {
    left: 690px;
    top: 300px;
}
.row-enter-now .balloons .second {
    left: 10px;
    top: 400px;
}
.row-enter-now div img {
    padding: 80px 0 20px;
    max-width: 330px;
}
.row-enter-now div p {
    font-size: 1.2em;
    letter-spacing: -0.04em;
    margin: 0 auto;
    width: 65%;
    padding-bottom: 1em;
    text-align: center;
}
.row-enter-now .highlight {
    color: #EA342F;
}
.astronauts {
    height: auto;
    position: absolute;
    width: 100%;
}
.astronauts img {
    width: 70%;
}
.astronauts .lady {
    left: -10%;
    position: absolute;
    top: -110px;
}
.astronauts .can-cat {
    position: absolute;
    right: -60px;
    top: -110px;
}
.row-countdown table {
    width: 565px;
    margin: 0 auto;
    font-size: 1.8em;
}
.row-countdown thead td,
.row-countdown p {
    color: #EA342F;
}
.row-countdown tbody td {
    color: #FFF;
    font-size: 3em;    
}
.row-countdown tbody td span {
    font-weight: bold;
}
.row-countdown td {
    text-align: center;
}
.row-countdown > p {
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
}
.row-countdown .contest-description p {
    color: #FFF;
    text-align: center;
}
.row-video {
    text-align: center;
}
.row-video p {
    font-size: 2em;
    color: #EA342F;
}
.row-video iframe {
    margin: 0 auto;
    width: 585px;
    height: 356px;
}
.row-blastoff {
    background: url('../img/blastoff_withplanets.png') no-repeat scroll center top transparent;
    height: auto;
    width: 100%;
}
.row-blastoff .description {
    font-size: 1.2em;
    line-height: normal;
    margin: 0 auto;
    padding: 200px 0 0;
    text-align: center;
    width: 80%;
    text-shadow: 0px 0px 10px #555, 1px 1px 20px #000, -1px -5px 10px #111, 2px 2px 8px #313;
}
.row-blastoff img {
    width: 400px;
    padding: 20px;
}
.row-enter-now {}
.row-enter-now button {
    background: url('../img/enter-button-background.png') no-repeat 0 0 transparent;
    border: 4px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1.5em;
    height: 68px;
    line-height: 68px;
    text-transform: uppercase;
    width: 284px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.row-enter-now button:hover {
    opacity: 0.75;
}
.row-footer a {
    color: #EA342F;
    text-decoration: none;
    text-transform: uppercase;
}
.row-footer p {
    text-align: center;
    font-size: 1.4em;
}
.footer-logo {
    background: url("../img/footerlogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 182px;
    width: 140px;
    margin: 0 auto;   
}
.row-footer span.hashtag {
    color: #FFF;
}
.row-footer .description p {
    font-size: 12px;
    color: #FFF;
}
.text-shadow-soft {
    text-shadow: 0 0 92px #AAAAFF, 0 0 2px #000088, 0 0 30px #BBBBFF;
}
.text-shadow-dark {
    text-shadow: 2px 3px 4px #000, -1px 2px 3px #000;
}
.text-shadow-blue {
    text-shadow: 0 0 15px #FFFFFF, 0 0 10px #55AAFF, 5px 5px 30px #FF00FF;
}
.text-shadow-superglow {
    text-shadow: 0 0 50px #55AAFF, 5px 5px 62px #FF00FF, -5px -12px 50px #AA55FF,  -10px 10px 20px #00FFCC, -10px -10px 20px #00FFCC, 1px 1px 2px #000000;
}

/* custom animations */
@keyframes vanish {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
.vanish {
  -webkit-animation-name: vanish;
  animation-name: vanish;
}
@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  25% {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  50% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  75% {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@keyframes swinging {
  0% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  25% {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  50% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  75% {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
.swinging {
  -webkit-animation-name: swinging;
  animation-name: swinging;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (max-width: 480px) {
    body {
        width:100%;
    }
    .content nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .content main {
        margin-top: 6em;
        width: 320px;
    }
    .uploader input[type="file"] {
        display: block !important;
    }
    .fake-uploader {
        display: none !important;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}