/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    outline: none !important;
}

.font-gothic {
    font-family: 'antonioregular';
}
html {
    background: url('../img/space_bacground.png') repeat 0 0 transparent;
    -webkit-backface-visibility: visible !important;
}
#emerge_space {
    width: 100%;
    height: auto;
    margin: 0 auto;
    letter-spacing: normal;
}
nav {
    width: 100%;
    height: 80px;
    background: url('../img/nav_background.png') repeat-x 0 -10px transparent;
    position: relative;
    z-index: 100;
}
nav ul {
    float: left;
    left: 50%;
    margin: 0 0 0 40px;
    padding: 25px 0;
    position: relative;
    text-align: center;
    width: auto;
}
nav li {
    float: left;
    margin-right: 3em;
    position: relative;
    right: 50%;
    height: 48px;
    background: url('../img/nav_mark.png') no-repeat center 100px transparent;      
    cursor: pointer;
    -webkit-transition: all 0.45s;
       -moz-transition: all 0.45s;
        -ms-transition: all 0.45s;
    transition: all 0.45s;
}
nav li .small {
    text-transform: lowercase;
}
nav a {
    text-decoration: none;
    color: #FFF;
}
li.opt:hover,
li.active {
    text-shadow: 0 0 10px #6BB2C4, 0 0 5px #87F,
        0 0 16px #FFF;
  background: url('../img/nav_mark.png') no-repeat center 23px transparent;  
}
.txt-a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 1px;
}
.nav-logo {
    margin-right: 0;
    margin-left: 8px;
}
.nav-logo img {
    position: relative;
    top: -42px;
}
main {
    max-width: 760px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    top: -20px;
}
.row {
    color: #FFF;
}
.row p {}
.row-header img {
    position: relative;
    top: 0;
    left: 0;
}
.planet-enter-blue {
    background: url('../img/planetblue.png') no-repeat scroll center center / cover transparent;
    max-width: 764px;
    height: 682px;
    background-size: cover;
}
.row-enter-now {
    text-align: center;
    position: relative;
}
.row-enter-now  .planet {
    height: 40px;
    left: 30px;
    position: absolute;
    top: -165px;
    width: 40px;
}
.row-enter-now .balloons,
.row-enter-now .balloons > div {
    position: absolute;
}
.row-enter-now .balloons .first {
    left: 690px;
    top: 300px;
}
.row-enter-now .balloons .second {
    left: -15px;
    top: 250px;
}
.row-enter-now div img {
    padding: 80px 0 20px;
    max-width: 330px;
}
.row-enter-now div p {
  font-size: 1.24em;
  letter-spacing: normal;
  margin: 0 auto;
  padding-bottom: 0.45em;
  padding-left: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
  line-height: 1.7em;
}
.row-enter-now .highlight {
  color: #EA342F;
  font-size: 1.25em;
  letter-spacing: normal;
}
.row-enter-now .white {
  color: #FFF !important;
}
.astronauts {
    height: auto;
    position: absolute;
    width: 100%;
}
.astronauts img {
    width: 70%;
}
.astronauts .lady {
    left: -10%;
    position: absolute;
    top: -110px;
}
.astronauts .can-cat {
    position: absolute;
    right: -60px;
    top: -110px;
}
.row-countdown .bg {
  background: url("../img/countdown_background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 112%;
  left: 10px;
  position: absolute !important;
  top: -150px;
  width: 100%;
  z-index: 2 !important;
}
.row-countdown * {
  position: relative;
  z-index: 3;
}
.row-countdown,
.row-video,
.row-blastoff {
    text-transform: uppercase;
}
.row-countdown {
  margin-top: 50px;
  position: relative;
}
.row-countdown table {
    width: 565px;
    margin: 0 auto;
    font-size: 1.8em;
}
.row-countdown thead td,
.row-countdown p {
    color: #EA342F;
}
.row-countdown tbody td {
    color: #FFF;
    font-size: 3em; 
}
.row-countdown tbody td span {
    font-weight: bold;
}
.row-countdown td {
    text-align: center;
}
.row-countdown > p {
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
}
.row-countdown .seconds {
  display: inline-block;
  width: 100px;
}
.row-countdown .time {
  font-size: 1.4em;
}
.row-countdown .dots {
  font-size: 1em;
  position: relative;
  text-shadow: -3px -3px 10px #AAAAFF, 1px 3px 5px #11AAFF;
  top: -5px;
}
.row-countdown .contest-description p {
    color: #FFF;
    text-align: center;
}
.row-video {
    text-align: center;
}
.row-video p {
    font-size: 2em;
    color: #EA342F;
}
.row-video iframe {
    margin: 0 auto;
    width: 585px;
    height: 356px;
}
.row-blastoff {
    background: url('../img/blastoff_withplanets.png') no-repeat scroll center top transparent;
    height: auto;
    width: 100%;
}
.row-blastoff .description {
    font-size: 1.2em;
    line-height: normal;
    margin: 0 auto;
    padding: 200px 0 0;
    text-align: center;
    width: 80%;
    text-shadow: 0px 0px 10px #555, 1px 1px 20px #000, -1px -5px 10px #111, 2px 2px 8px #313;
}
.row-blastoff img {
    width: 400px;
    padding: 20px;
}
.row-enter-now {}
.until-launch {
  font-size: 2.2em !important;
}
.contest-description {
  padding: 40px 0;
}
.check-cowboy {
  font-size: 2.3em !important;
}
button.space {
    background: url("../img/button_bckground_patern.png?20140307") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 4px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1.8em;
    height: 65px;
    line-height: 60px;
    text-shadow: 1px 2px 6px #000000;
    text-transform: uppercase;
    width: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; 
}
button.space:hover {
    opacity: 0.75;
}
.row-enter-now button {
    width: 284px;
}
.row-footer a {
    color: #EA342F;
    text-decoration: none;
    text-transform: uppercase;
}
.row-footer p {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 10px;
}
.footer-logo {
  background: url("../img/footerlogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 150px;
  margin: 0 auto;
  width: 140px; 
  clear: both;
}
.row-footer span.hashtag {
    color: #FFF;
}
.row-footer .description p {
    font-size: 13px;
    color: #FFF;
}
.text-shadow-light-blue {
    text-shadow: -3px -3px 15px #AAAAee, 1px 3px 25px #11AAee;
}
.text-shadow-soft {
  text-shadow: 0 0 10px #444;
}
.text-shadow-dark {
    text-shadow: 2px 3px 4px #000, -1px 2px 3px #000;
}
.text-shadow-blue {
    text-shadow: 0 0 15px #FFFFFF, 5px 5px 30px #FF00FF;
}
.text-shadow-superglow {
    text-shadow: 0 0 50px #55AAFF, 5px 5px 62px #FFAAFF;
}
.row-entries {
    margin: 0 auto;
    width: 530px;
}
.row-entries p {
    margin: 0;
    padding: 0;
}
.row-entries .entry {
    height: 206px;
    margin-bottom: 40px;
    width: auto;
}
.row-entries .entry .photo {
    float: left;
    width: 198px;
    height: 198px;
    border: 4px solid #FFF;
    margin-right: 25px;
}
.row-entries .entry .details {
    color: #FFF;
}
.row-entries .entry .details p {
  font-size: 1em;
  text-align: left;
  text-transform: uppercase;
}
.row-entries .red {
    color: #EA342F;
}
.row-entries .full_name {
    padding-bottom: 20px;
}
.row-entries button.space {
    width: 100%;
}
.row-header-entries {
  height: 390px;
}
.row-header-entries .astronauts .lady {
    left: -30px;
    position: absolute;
    top: -225px;
    width: 350px;
}
.row-entries .balloons .first {
    bottom: 300px;
    left: -280%;
    position: absolute;
}
.row-entries .balloons .second {
    bottom: 650px;
    left: 20%;
    position: absolute;
}
.animatable-elements {
    bottom: 0;
    position: absolute;
    right: -100px;
}
.animatable-elements .cat-foo {
    bottom: 10px;
    left: 100px;
    position: relative;
}
.terms-and-conditions {
    width: 530px;
    margin: 0 auto;
    font-size: arial;
}
.row-enter-your-face .photo {
    border: 4px solid #FFFFFF;
    float: left;
    height: 198px;
    margin-right: 25px;
    width: 198px;
}
.row-enter-your-face .myForm {
    margin: 0 auto;
    width: 535px;
    position: relative;
}
.row-enter-your-face > div {
  position: relative;
  z-index: 2;
}
.row-enter-your-face > .bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.row-enter-your-face .bg .elem-a {
  background: url("../img/countdown_background.png") no-repeat scroll -50px 0 rgba(0, 0, 0, 0);
  height: 150px;
  left: -50px;
  position: absolute;
  top: 110px;
  width: 150px;
}
.row-enter-your-face .bg .elem-b {
  background: url("../img/Ballon_float2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 150px;
  left: 0;
  position: absolute;
  top: 360px;
  width: 150px;
}
.row-enter-your-face .bg .elem-c {
  background: url("../img/Ballon_float1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 150px;
  left: 665px;
  position: absolute;
  top: 150px;
  width: 150px;
}
.row-enter-your-face .bg .elem-d {
  background: url("../img/cat-foo.png") no-repeat scroll -50px -45px rgba(0, 0, 0, 0);
  height: 300px;
  left: 615px;
  position: absolute;
  top: 540px;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  width: 250px;
}
.row-enter-your-face > div p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}
#txt-upload-photo {
  margin: 0 0 45px 0;
}
.myForm > div {
    display: inline-block;
}
.myForm .col {
    float: left;
    padding-bottom: 30px;
}
.myForm .col-a {
    width: 206px;
    margin-right: 25px;
}
.myForm .col-a button,
.use-profile-photo,
.browse-btn {
    border: 4px solid #FFFFFF;
    width: 100%;
    text-transform: uppercase;
    background: url("../img/button_bckground_patern.png?20140307") repeat scroll 0 0 transparent;
    color: #FFF;
    line-height: 32px;
    font-family:  'antonioregular';
    font-size: 1.2em;
    text-shadow: 1px 1px 4px #333;
    cursor: pointer;
}
.myForm .col-a button:hover,
.use-profile-photo:hover {
    opacity: 0.75;
}
.use-profile-photo {
  background: url("../img/button_bckground_patern_red.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
  clear: both;
  margin-bottom: 10px;
  text-align: center;
  width: 97%;
}
/* s: fake upload */
.fake-upload {
  cursor: pointer;
  font-size: 1.2em;
  height: 35px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 198px;
  margin-bottom: 10px;
}
.fake-upload:hover {
  opacity: 0.6;
}
.fake-upload input {
    display: block !important;
    width: 100% !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
.fake-upload > span {
  left: 0;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}
.fake-uploader {
  display: none;
}
/* e: fake upload */
#photo-instructions {
  clear: both;
  float: left;
  font-family: arial;
  font-size: 0.6em;
  margin-bottom: 20px;
  text-align: left;
}
#photo-instructions .mobile {
  display: none;
}
#photo-instructions .upper {
  text-transform: uppercase;
}
#photo-instructions p strong {
  font-weight: bold;
  font-size: 1.1em;
}
#photo-instructions > p {
  text-align: left;
  text-transform: none;
  font-size: 1.2em;
}
.myForm .col-a input {
    width: 206px;    
}
.myForm .photo,
.myForm button {
    margin-bottom: 10px;
}
.myForm .col-b {
    width: 300px;
}
.myForm .col-b p {
    color: #EA342F;
    text-transform: uppercase;
}
.myForm .col-b textarea[name="description"] {
    min-height: 100px;
}
.myForm input,
.myForm p {
    float: left;
}
.myForm p {
    margin: 0px;
}
.myForm input {
    margin-bottom: 15px;
    height: 30px;
}
.myForm .row p {
    line-height: 20px;
}
.myForm .row input {
  cursor: pointer;
  display: inline-block;
  height: auto;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.myForm input,
.myForm textarea {
  border-radius: 0px !important;
}
.myForm .row a {
  color: #FFF;
}
.myForm .text_agreement {
  font-family: arial;
  font-size: 0.8em;
  letter-spacing: normal;
  padding-bottom: 15px;
  text-align: left;
}
.text_agreement.invalid {
  color: #EA342F;
}
.row-enter-your-face {
  position: relative;
}
.row-enter-your-face .col input,
.row-enter-your-face .col textarea {
    width: 100%;
}
button.your_face {
    width: 100%;
}
.red_spc_bg {
    background: url('../img/button_bckground_patern_red.png') repeat-x 0 0 transparent !important;
}
.opt-enter {
    margin-right: 0;
}
.myForm input.ng-invalid.ng-dirty,
.myForm textarea.ng-invalid.ng-dirty,
.submitted input.ng-invalid.ng-pristine ,
.submitted textarea.ng-invalid.ng-pristine  {
    background-color: #FA787E;
}
.myForm input.ng-valid.ng-dirty,
.myForm textarea.ng-valid.ng-dirty,
.submitted input.ng-valid.ng-pristine ,
.submitted textarea.ng-valid.ng-pristine {
    background-color: #78FA89;
}
#login-with-facebook {}
#login-with-facebook > div {
  border: 0;
  position: relative;
  z-index: 2;
  display: block;
  margin: 45px auto;
  width: 500px;
  cursor: pointer;
}
#login-with-facebook > div:hover {
  opacity: 0.7;
}
.fb-like-wrp {
  display: block;
  line-height: 20px;
  height: 100px;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  width: auto;
}
.fb-like-wrp div {
  margin-bottom: 8px;
}
.fb-like-wrp .txt {
  font-family: arial;
}
/* datepicker */
.myForm .col-b {
  position: relative;
}
.dropdown-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 10;
  border-radius: 5px;
  color: #111;
  list-style: none;
}
.dropdown-menu button {
  margin-bottom: 0;
  font-weight: bold;
}
.dropdown-menu table {
  background: #CCC;
  padding: 20px;
  display: block;
  border-radius: 15px;
  position: relative;
  top: -30px;
  border: 4px solid #EA342F;
}
.dropdown-menu ul {
  margin: 0;
  padding: 0;
}
.dropdown-menu button {
  border:none;
}
.dropdown-menu th {
  font-size: 12px;
  line-height: 30px;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.pull-left:before {
    content: "<";
}
.pull-right:before {
    content: ">";
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-info {
  color: #fff;
  background-color: #555;
  border-color: #555;
}
.entry-approval {
  font-size: 21px;
  padding: 50px 0;
}
.entry-approval p {
  font-size: 1.2em !important;
}
.entry-approval .red {
  color: red;
}
.entry-approval .uppercase {
  text-transform: uppercase;
}
.entry-approval .big {
  font-size: 1.4em;
}
.approved-entry .red {
  font-size: 1.4em !important;
}
.entry-approval .big,
.entry-approval .red {}
.approved-entry .entry {
  display: inline-block;
  height: auto !important;
}
.approved-entry .details {
  width: 100% !important;
}
.approved-entry .details {
  height: auto !important;
  float: left !important;
}
.approved-entry .photo {
  width: 265px !important;
  height: 265px !important;
}
.approved-entry .photo,
.approved-entry .birthday,
.approved-entry .email,
.approved-entry .telephone {
    margin-bottom: 20px;
}
.my-entry .entry {
  width: 100%;
}
.my-entry .br {
  clear: both;
}
.row-enter-your-face .details p {
    font-size: 1.2em;
    letter-spacing: normal;
    text-align: left;
}
#avatar {
  border: 4px solid #FFF;
  height: 198px;
  overflow: hidden;
  width: 198px;
  margin-bottom: 10px;
}
.fake-uploader,
.progress {
    color: #fff;
}
.fake-uploader label {
    padding-right: 1em;
}
.progress .bar {
    background: #FFF;
    border-radius: 10px;
    height: 10px;
}
.progress > span {
  display: block;
  font-family: arial;
  font-size: 0.65em;
  margin-bottom: 2px;
  text-transform: uppercase;
}


/* spinner animation */
.spinner {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  position: relative;
  backface-visibility: visible;
    -webkit-backface-visibility: visible;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* animation: page */
.my-page-anim.ng-enter, 
.my-page-anim.ng-leave, 
.my-page-anim.ng-move {
  -webkit-transition: 3s linear all;
  transition: 3s linear all;
  position:relative;
}
.my-page-anim.ng-enter {
  opacity:0;
}
.my-page-anim.ng-enter.ng-enter-active {
  opacity:1;
}
.my-page-anim.ng-leave {
  opacity:1;
}
.my-page-anim.ng-leave.ng-leave-active {
  opacity:0;
}
.my-page-anim.ng-move {
  opacity:0.5;
}
.my-page-anim.ng-move.ng-move-active {
  opacity:1;
}
#chars-counter {
  position: relative;
  top: -25px;
  right: -160px;
  color: #aaa;
  font-size: 12px;
  background: transparent;
  text-align: right;
  width: 130px;
  font-family: arial;
}
.help-icon {
  background: url("../img/help-icon.png") no-repeat scroll 0 -2px rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 30px;
  left: -2px;
  padding-right: 5px;
  position: relative;
  top: 3px;
  width: 30px;
}


/* custom animations */
@-webkit-keyframes vanish_longer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(300%) translateX(300%);
  }

  20% {
    opacity: 1;
  }

  60% {
    -webkit-transform: translateY(200%) translateX(100%);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0%) translateX(0%);
  }
}
@keyframes vanish_longer {
  0% {
    opacity: 0;
    transform: translateY(300%) translateX(300%);
  }

  20% {
    opacity: 1;
  }

  60% {
    transform: translateY(200%) translateX(100%);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0%) translateX(0%);
  }
}
.vanish_longer {
  -webkit-animation-name: vanish_longer;
  animation-name: vanish_longer;
}
@-webkit-keyframes vanish {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
  }
}
@keyframes vanish {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
.vanish {
  -webkit-animation-name: vanish;
  animation-name: vanish;
}
@-webkit-keyframes vanish-cat {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0%) translateX(0%) rotate(0deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-250%) translateX(50%) rotate(90deg);
  }
}
@keyframes vanish-cat {
  0% {
    opacity: 1;
    transform: translateY(0%) translateX(0%) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-250%) translateX(50%) rotate(90deg);
  }
}
.vanish-cat {
  -webkit-animation-name: vanish-cat;
  animation-name: vanish-cat;
}
@-webkit-keyframes vanish-rotate {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1,1);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg) scale(0.2,0.2);
  }
}
@keyframes vanish-rotate {
  0% {
    opacity: 1;
    transform:  rotate(0deg) scale(1,1);
  }

  100% {
    opacity: 0;
    transform: rotate(360deg) scale(0.2,0.2);
  }
}
.vanish-rotate {
  -webkit-animation-name: vanish-rotate;
  animation-name: vanish-rotate;
}
@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  25% {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  50% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  75% {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@keyframes swinging {
  0% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  25% {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  50% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  75% {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
.swinging {
  -webkit-animation-name: swinging;
  animation-name: swinging;
}
@-webkit-keyframes swinger {
  100% {
    -webkit-transform: rotate(380deg);
    -ms-transform: rotate(380deg);
    transform: rotate(380deg);
  }
}
@keyframes swinger {
  100% {
    -webkit-transform: rotate(380deg);
    -ms-transform: rotate(380deg);
    transform: rotate(380deg);
  }
}
.swinger {
  -webkit-animation-name: swinger;
  animation-name: swinger;
}
.nav-mobile {
  display: none;
}
#simple-slider-slider {
  clear: both;
  margin: 0 0 10px 0 !important;
  width: 100% !important;
}
#simple-slider-slider > .dragger {
    background: -webkit-linear-gradient(top , #333, #F00) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(top , #333, #F00) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(top , #333, #F00) repeat scroll 0 0 transparent;
    background: linear-gradient(top , #333, #F00) repeat scroll 0 0 transparent;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 2px 2px transparent inset, 0 2px 8px transparent;
    height: 16px;
    width: 16px;
}
#simple-slider-slider > .track, 
#simple-slider-slider > .highlight-track {
    background: -webkit-linear-gradient(top , #333333, #DDDDDD) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(top , #333333, #DDDDDD) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(top , #333333, #DDDDDD) repeat scroll 0 0 transparent;
    background: linear-gradient(top , #333333, #DDDDDD) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
}

/* IE Fixes */
.no-cssanimations .spinner {
  background: url("../img/loading.gif") no-repeat scroll center center transparent;
  border-radius: 50px;
  height: 35px;
  width: 35px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (max-width: 640px) {
    nav li {
        font-size: 1.2em !important;
        margin-right: 2em;
    }
}

@media only screen and (max-width: 580px) {

    body {
      font-size: 16px;
    }
    nav.non-mobile {
      display: none;
    }
    .layer-top {
      background: url("../img/nav_background.png") repeat-x scroll 0 -15px rgba(0, 0, 0, 0);
      height: 75px;
      width: 100%;
      z-index: 9999;
    }
    .mobile-nav-icon {
      cursor: pointer;
      height: 50px;
      position: absolute;
      right: 10px;
      top: 15px;
      width: 50px;
    }
    .mobile-nav-open {
      padding-bottom: 120px;
      height: auto;
    }
    .mobile-nav-open ul {
      top: 0px !important;
    }
    .mobile-nav-open .logo {
      display: none;
    }
    .mobile-nav-icon:hover {
      opacity: 0.7;
    }
    .nav-mobile {
      background: none repeat scroll 0 0 transparent;
      display: block;
      height: 100px;
      padding-bottom: 0px;
      position: fixed;
      width: 100%;
      z-index: 999;
      top: 0;
    }
    .nav-mobile .logo {
      height: 120px;
      left: -10px;
      position: absolute;
      top: 0;
      width: 130px;
    }
    .nav-mobile ul {
      background: url("../img/nav_background.png") repeat-x scroll 0 165px transparent;
      font-size: 1.4em;
      height: auto;
      left: 0;
      margin: -5px 0 0;
      padding: 0 0 80px;
      position: relative;
      top: -300px;
      width: 100%;
      z-index: -1;
      -webkit-transition: all 0.45s;
         -moz-transition: all 0.45s;
          -ms-transition: all 0.45s;
      transition: all 0.45s;
    }
    .nav-mobile li {
      background: none repeat scroll 0 0 #000000 !important;
      display: block;
      float: left;
      height: auto;
      left: 0;
      padding: 10px 30px;
      position: relative;
      text-align: right;
      width: 100%;
      border-bottom: 2px solid #fff;
    }
    .nav-mobile li,
    .nav-mobile li.opt:hover {
      background: none;
    }
    .nav-mobile li.opt:hover,
    .nav-mobile li.active {
      text-shadow: 0 0 10px #6BB2C4, 0 0 5px #8877FF, 0 0 16px #FFFFFF;
    }
    .nav-mobile .opt > a {
      display: inline-block;
      left: -45px;
      position: relative;
      width: 100%;
    }
    .nav-mobile .opt-tncs {
      border: none;
    }
    main {
      top: 80px;
    }
    .row-enter-now div p {
      width: 90%;
      font-size: 1em;
      padding-left: 0;
    }
    .row-enter-now img.enter-now {
      max-width: none;
      width: 60% !important;
    }
    .astronauts > div {
      width: 50%;
    }
    .astronauts .lady {
      left: 0;
    }
    .astronauts .can-cat {
      right: 0;
    }
    .astronauts .lady img {
      position: relative;
      left: -30%;
    }
    .astronauts .can-cat img {
      position: relative;
      right: -30%;
    }
    .row-header-entries .astronauts .lady img {
      position: relative;
      left: -15%;
    }
    .planet-enter-blue {
      background: url("../img/planetblue.png") no-repeat scroll center center transparent;
      height: 682px;
      max-width: 764px;
    }
    .row-countdown table {
      font-size: 1em;
      margin: 0 auto;
      width: auto;
      position: relative;
      left: 5px;
    }
    .row-countdown .contest-description p {
      color: #FFFFFF;
      font-size: 1.3em;
      padding: 0 10px;
      text-align: center;
    }
    .check-cowboy {
      font-size: 1.6em !important;
    }
    .row-video iframe {
      height: 320px;
      margin: 0 auto;
      width: 100%;
      position: relative;
      z-index: 999 !important;
    }
    .row-countdown .bg {
      background: none;
    }
    .balloons {
      display: none;
    }
    .row-enter-now .balloons .first {
      right: -5%;
      top: 300px;
    }
    .row-enter-now .balloons .second {
      left: -5%;
      top: 250px;
    }
    .row-enter-now .planet {
      display: none;
    }
    .row-blastoff {
      background-size: 150%;
    }
    .row-footer p {
      font-size: 0.6em;
    }
    .row-footer .description p {
      padding: 0 10px;
     font-size: 0.4em;
 
    }
    .row-header-entries .astronauts {
      top: 0;
      height: 100%;
    }
    .row-header-entries .astronauts .lady {
      top: 35%;
      left: 0;
      width: 50%;
      height: 100%;
    }
    .row-header-entries .astronauts .lady img {

    }
    .row-entries .entry .details p {
      clear: both;
      width: 100% !important;
      height: auto !important;
    }
    .row-entries .entry .photo img {
      width: 100%;
    }
    .row-header-entries {
      height: auto;
      position: relative;
    }
    .row-entries {
      margin: 0 auto;
      width: 85%;
    }
    .row-entries .entry p {}
    .row-enter-your-face .bg .elems {
      display: none;
    }
    .row-entries .entry .photo {
      width: 100%;
      height: auto;
      margin: 0 0 10px 0;
      border: 8px solid #FFF;
    }
    .row-entries .entry {
      height: auto;
      margin-left: -8px;
      margin-bottom: 80px;
      width: 100%;
      float: left;
      clear: both;
    }
    .row-entries .entry .details {
      color: #FFF;
      position: relative;
      font-size: 1em;
    }
    .terms-and-conditions {
      width: 90%;
      font-size: 0.8em;
    }
    .row-blastoff .description {
      width: 95%;
    }
    main {
      overflow: hidden;
    }
    .spinner {
      margin: 200px auto;
    }
    .footer-logo {
      background: url("../img/footerlogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
      height: 110px;
      margin: 0 auto;
      background-size: 100px;
      width: 100px;
    }
    #login-with-facebook > div {
      width: 320px;
      margin: 0 auto;
    }
    #txt-upload-photo {
        font-size: 0.6em;
        margin: 10px auto 40px;
        width: 80%;
    }
    .row-enter-your-face .myForm {
        margin: 0 auto;
        width: 75%;
    }
    .myForm .col-a,
    .myForm .col-b {
      width: 100%;
    }
    .row-enter-your-face .photo,
    #avatar {
      border: 4px solid #FFFFFF;
      float: left;
      height: auto;
      margin-right: 25px;
      margin-bottom: 10px;
      width: 97%;
    }
    .row-enter-your-face .col input, 
    .row-enter-your-face .col textarea {
      margin-bottom: 15px;
      width: 100%;
    }
    .photo > img {
      height: 100%;
      width: 100%;
    }
    #chars-counter {
      font-size: 12px;
      right: -10px;
      text-align: left;
      top: -40px;
    }
    .dropdown-menu table {
      top: -30px;
    }
    button.space {
      font-size: 1.4em;
    }
    input[name="agreement"] {
      margin-bottom: 50px;
    }
    .entry-approval {
      font-size: 1em;
      padding: 50px 10px;
    }
    .fake-upload {
      width: 97%;
    }
    #photo-instructions .desktop {
      display: none;
    }
    #photo-instructions .mobile {
      display: block;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}