/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.font-gothic {
    font-family: 'Carrois Gothic SC', sans-serif;
}
body {
    background: url('../img/space_bacground.png') repeat 0 0 transparent;
}
#emerge_space {
    width: 100%;
    height: auto;
    margin: 0 auto;
    letter-spacing: normal;
}
nav {
    width: 100%;
    height: 80px;
    background: url('../img/nav_background.png') repeat-x 0 -10px transparent;
    position: relative;
    z-index: 100;
}
nav ul {
    float: left;
    left: 50%;
    margin: 0;
    padding: 30px 0;
    position: relative;
    text-align: center;
    width: auto;
}
nav li {
    float: left;
    margin-right: 1.4em;
    position: relative;
    right: 50%;
    height: 45px;
    background: url('../img/nav_mark.png') no-repeat center 100px transparent;      
    cursor: pointer;
    -webkit-transition: all 0.45s;
       -moz-transition: all 0.45s;
        -ms-transition: all 0.45s;
    transition: all 0.45s;
}
li.opt:hover,
li.active {
    text-shadow: 0 0 10px #6BB2C4, 0 0 5px #87F,
        0 0 16px #FFF;
  background: url('../img/nav_mark.png') no-repeat center 16px transparent;  
}
.txt-a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.1em;
}
.nav-logo {
    margin-right: 0;
}
.nav-logo img {
    position: relative;
    top: -50px;
}
main {
    max-width: 760px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.row {
    color: #FFF;
}
.planet-enter-blue {
    background: url('../img/planetblue.png') no-repeat scroll center center / cover transparent;
    max-width: 764px;
    height: 682px;
    background-size: cover;
}
.row-enter-now {
    text-align: center;
}
.row-enter-now div img {
    padding-top: 80px;
    max-width: 330px;
}
.row-enter-now div p {
    font-size: 1.2em;
    letter-spacing: -0.04em;
    margin: 0 auto;
    width: 65%;
    padding-bottom: 1em;
    text-align: center;
}
.row-enter-now .highlight {
    color: #EA342F;
}
.row-countdown table {
    width: 565px;
    margin: 0 auto;
    font-size: 1.8em;
}
.row-countdown thead td,
.row-countdown p {
    color: #EA342F;
}
.row-countdown tbody td {
    color: #FFF;
    font-size: 3em;    
}
.row-countdown tbody td span {
    font-weight: bold;
}
.row-countdown td {
    text-align: center;
}
.row-countdown p {
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (max-width: 480px) {
    body {
        width:100%;
    }
    .content nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .content main {
        margin-top: 6em;
        width: 320px;
    }
    .uploader input[type="file"] {
        display: block !important;
    }
    .fake-uploader {
        display: none !important;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}